@font-face {
    font-family: Lato ;
    src: url("../assets/fonts/Lato-Light.ttf");
}

.box {


    background:
            linear-gradient(#f8f8f8, #f8f8f8) left/50% 100%,
            white center/cover content-box;
    background-repeat:no-repeat;
}



.leftPart{
    /*background-color : #f8f8f8;*/

    height: 750px;

}
.rightPart{
    /*background-color: #ffffff;*/

    height: 750px;

}
.container{
    max-width: 1200px;
    max-height: 900px;
    border:20px solid brown;
    font-family: Lato;

}
.gamingPlate{

}
.currentScore {
    width: 160px;
    height: 120px;
    background-color: #ff1954;
    /*margin-top : 300px;*/
    margin-bottom: 130px;
}
.totalScore {
    color :#f7cace
}
.currentTitle{
    color:black;
    text-align: center;
    opacity: 60%;
    padding-top: 20px;
}
.currentScoreNb{
    color:white;
    text-align: center;
    font-size : 2em;

}
.playerName {
    color:#c0c0c0;
    margin-top: 80px;
}
.activePlayer {
    color:#8c8c8b;
}
.newGame{
   /* transform: translateY(125px);*/
    color:#c0c0c0;
    padding-top: 35px;
}
.currentScoreLine{
    margin-top:180px;
}